@font-face {
  font-family: 'teko';
  src: url('../fonts/Teko 300.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'teko';
  src: url('../fonts/Teko regular.ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'raleway';
  src: url('../fonts/Raleway regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway 600.ttf');
  font-weight: bold;
  font-style: normal;
}

* {
  list-style: none;
  text-decoration: none;
  border-style: none;
  outline-style: none;
}

html {
  font-size: 10px;
}

h1, h2, li, p {
  color: white;
}

h1 {
  font-family: 'teko', sans-serif;
}

li, p, input{
  font-family: 'raleway', sans-serif;
}

form {
  border-radius: 0.3rem;
}

input {
  width: 26rem;
  height: 4.4rem;
  font-size: 1.6rem;
  padding: 0 0 0 1rem;
}
