body {
  background-image: url('../images/golf.jpg');
  background-size: 120%;
}

h1, p, form, button {
  text-align: center;
}

.intro-heading {
  margin-bottom: 0;
  margin-top: 15rem;
}

.intro-description {
  font-size: 1.8rem;
  margin: 0 0 2rem 0;
}

input {
  margin: 0 auto;
  display: block;
}

.main-link {
  display: block;
}

.border-line {
  border-bottom: 0.1rem solid #E0E0E0;
}

.main-form__email {
  border-top-right-radius: 0.2rem;
  border-top-left-radius: 0.2rem;
}

.main-form__password {
  border-bottom-right-radius: 0.2rem;
  border-bottom-left-radius: 0.2rem;
}

.main-form__submit {
  width: 27rem;
  height: 4.4rem;
  margin-top: 1rem;
  background-color:#AF2F2F;
  border-radius: 0.2rem;
  color: white;
  font-size: 1.8rem;
  cursor: pointer;
}

.main-link {
  text-align: center;
  width: 8rem;
  height: 4.5rem;
  padding: 0 1rem;
  background-color: rgba(255,255,255,0.33);
  color: white;
  line-height: 4.5rem;
  border-radius: 0.2rem;
  font-family: 'raleway', sans-serif;
  font-size: 1.8rem;
  margin: 0 0 1rem 1rem;
  position: absolute;
  bottom: 0;
}

.search-box {
  border-radius: 3rem;
  height: 2.5rem;
  opacity: 0.7;
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: inline;
}

.mobile-bar {
  position: absolute;
  width: 100%;
  height: 5rem;
  background-color: #AF2F2F;
  bottom: 0;
}

.mobile-bar__list {
  text-align: center;
  padding: 0;
}

.mobile-bar__item {
  display: inline-block;
  padding: 0 7%;
  line-height: 4.5rem;
}

.mobile-bar__item a {
  color: white;
}

.dropdown {
  display: block;
  margin: auto;
  width: 90%;
  height: 4rem;
}

.icon-search {
  font-size: 1.5rem;
  position: relative;
  right: 3rem;
}




