h1, p, form, button {
  text-align: center;
}

.signup-body {
  background-image: url("../images/golf.jpg");
  background-size: 120%;
}

.logo-main {
  display: block;
  margin: auto;
  width: 10rem;
  height: 10rem;
  border-radius: 8rem;
  margin-top: 7rem;
}

.logo {
  height: 5rem;
  width: 5rem;
  margin: 0 1rem;
  display: inline-block;
}

.intro-heading {
  margin-bottom: 0;
}

.intro-description {
  font-size: 1.8rem;
  margin: 0 0 2rem 0;
}

input {
  margin: 0 auto;
  display: block;
}

.border-line {
  border-bottom: 0.1rem solid #E0E0E0;
}

.main-form__start {
  border-top-right-radius: 0.2rem;
  border-top-left-radius: 0.2rem;
}

.main-form__end {
  border-bottom-right-radius: 0.2rem;
  border-bottom-left-radius: 0.2rem;
}

.main-form__submit {
  width: 27rem;
  height: 4.4rem;
  margin-top: 1rem;
  background-color:#AF2F2F;
  border-radius: 0.2rem;
  color: white;
  font-size: 1.8rem;
  cursor: pointer;
}

.main-link {
  display: block;
  text-align: center;
  width: 8rem;
  height: 4.5rem;
  padding: 0 1rem;
  background-color: rgba(255,255,255,0.33);
  color: white;
  line-height: 4.5rem;
  border-radius: 0.2rem;
  font-family: 'raleway', sans-serif;
  font-size: 1.6rem;
  margin: 0 0 1rem 1rem;
  position: absolute;
  bottom: 0;
}

.search-box,
.search-box2 {
  margin-left: 1.2rem;
  border-radius: 0.2rem;
  height: 2.5rem;
  opacity: 0.7;
  margin-bottom: 0.5rem;
  display: inline-block;
}

.search-box {
  margin-top: 1rem;
  width: 26rem;
}

.search-box2 {
  margin-top: 5.5rem;
  width: 90%;
}

.mobile-bar {
  position: absolute;
  width: 100%;
  height: 5rem;
  background-color: #282828;
  bottom: 0;
}

.mobile-bar__list {
  text-align: center;
  padding: 0;
}

.mobile-bar__item {
  display: inline-block;
  padding: 0 8.5%;
  line-height: 5.5rem;
}

.mobile-bar__item a {
  color: #A8A8A8;
}

.dropdown {
  display: block;
  margin: auto;
  margin-bottom: 0.5rem;
  width: 95%;
  height: 4rem;
  font-size: 1.6rem;
  opacity: 0.8;
}

.icon-search {
  font-size: 1.5rem;
  position: relative;
  right: 3rem;
  opacity: 0.5;
}

.icon-spinner {
  position: relative;
  display: inline;
  float: right;
  margin-top: -4rem;
  margin-right: 1rem;
  font-size: 2.5rem;
  color: white;
  cursor: pointer;
}

.sub-hdr {
  position: absolute;
  font-size: 3rem;
  left: calc(50% - 7rem);
  top: .5rem;
}

.hdr-explore {
  margin-left: 8%;
}

.event-holder {
  width: 100%;
  background-color: white;
  float: left;
}

.event-holder section {
  font-size: 1.5rem;
  font-weight: normal;
  display: inline-block;
  padding: 0 1rem;
}

.event-one {
  width: 60%;
}

.event-two{
  width: 10%;
}

.event-three{
  width: 10%;
  text-align: right;
}

.event-one__name {
font-weight: bold;
}

.join {
  width: 5rem;
  float: right;
}
