@media (min-width: 50rem) {

  .main-heading {
    font-size: 4rem;
    position: absolute;
    top: .15rem;
  }

  .host-hdr {
    left: calc(50% - 3rem);
  }

  .search-field {
    position: absolute;
    right: 10rem;
    top: 0rem;

  }

  .search-box {
    width: 17vw;
  }

  .main-form {
    position: absolute;
    top: 12rem;
    left: calc(50% - 20rem);
  }

  .main-form__input {
    margin: 2.5rem 0;
    width: 40rem;
  }

  input {
    width: 40rem;
  }
}




