@media (min-width: 50rem) {
  .search-form {
    text-align: right;
  }
  .desktop {
    display: inline;
  }
  .nav-bar__list__item {
    display: inline;
    font-size: 1.5rem;
    margin-right: 3rem;
  }
  .nav-bar__list {
    padding: 0;
  }
  .nav-bar {
    position: relative;
    top: -2rem;
    margin: 0 2rem;
  }
  .main-heading {
    font-size: 4rem;
    position: absolute;
    top: .15rem;
    left: calc(50% - 10rem);
  }
  .search-field {
    position: absolute;
    right: 15rem;
    top: .3rem;
  }
  .search-box {
    width: 17vw;
  }

  .mobile {
    display: none;
  }

  .main-form__input {
    display: relative;
    margin: auto;
    width: 40rem;
  }

  .main-form input:nth-child(1) {
    margin-top: 5rem;
  }

  input {
    width: 40rem;
  }
}

@media (max-width: 50rem) {
  .desktop {
    display: none;
  }
}



