@font-face {
	font-family: 'ico-fonts';
	src:url('fonts/ico-fonts.eot?i25org');
	src:url('fonts/ico-fonts.eot?#iefixi25org') format('embedded-opentype'),
		url('fonts/ico-fonts.woff?i25org') format('woff'),
		url('fonts/ico-fonts.ttf?i25org') format('truetype'),
		url('fonts/ico-fonts.svg?i25org#ico-fonts') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'ico-fonts';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-user:before {
	content: "\e600";
}
.icon-search:before {
	content: "\e601";
}
.icon-checkmark:before {
	content: "\e602";
}
.icon-arrow-left:before {
	content: "\e603";
}
