<div data-ng-controller='newEventController'>
  <body>
    <header>
      <h1 class="sub-hdr hdr-host">HOST</h1>
      <a href="join.html"><img class="logo" src="images/logo.png"></a>
      <div class="icon-user main-user"><span> Name<span></div>
    </header>
      <!-- <form method="get" class="search-main">
        <input type="text" class="search-box2" size="" maxlength="120" placeholder="Search events">
        <span class="icon-search"></span>
      </form> -->
    <article>
      <form name="eventForm" role="form" class="host-form">
        <input type="text" required data-ng-model="event.eName"placeholder="Event Name" class="host-form__one .border-line" maxlength="15"></input>
        <input type="text" required data-ng-model="event.eLocation"placeholder="Location" class="host-form__two .border-line" maxlength="15"></input>
        <input type="text" required data-ng-model="event.eventTime" placeholder="Time" class="host-form__three .border-line"></input>
        <input type="text" required data-ng-model="event.minNumber"placeholder="No. of people" class="host-form__four .border-line"></input>
        <input data-ng-click="submitForm()" type="submit" name="create-button" value="Create Event" class="host-form__submit .border-line"></input>
      </form>
    </article>
    <nav class="mobile-bar">
      <ul class="mobile-bar__list">
        <li class="mobile-bar__item"><span data-ng-click="newEvent()" class="icon-pencil"></span></li>
        <li class="mobile-bar__item"><span data-ng-click="getEvents()" class="icon-compass"></span></li>
        <li class="mobile-bar__item"><span class="icon-user"></span></li>
        <li class="mobile-bar__item"><span data-ng-click="logout()" class="icon-switch"></span></li>
      </ul>
    </nav>
  </body>
</div>
