
<div data-ng-controller="eventsController">
  <header>
    <h1 class="sub-hdr hdr-explore">EVENTS</h1>
    <a href="#"><img class="logo" src="images/logo.png"></a>
    <div class="icon-user main-user"><span> {{userName}}</span></div>
  </header>
  <form method="get" class="search-main">
    <input type="text" class="search-box2" size="" maxlength="120" placeholder="Search events">
    <span class="icon-search"></span>
  </form>
  <form method="post" class="sortby">
  <select class="dropdown" name="Sort By">
    <option value="event-type" class="dropdown__item">Sort By</option>
    <option value="event-type" class="dropdown__item">Event Type</option>
    <option value="location" class="dropdown__item">Location</option>
    <option value="time" class="dropdown__item">Time</option>
  </select>
  </form>
  <main data-ng-repeat="event in events" class="event-list-join">
    <article data-ng-hide="isJoined(event)" class="event-holder">
      <section class="event-one">
        <div class="event-one__name">{{event.eName}}</div>
      </section>
    <section class="event-two">
      <div class="event-two__time">{{event.eventTime}}</div>
    </section>
    <section class="event-three">
      <div class="event-three__date">{{event.today}}</div><!-- figure this out -->
    </section>
    <section class="event-four">
      <div class="event-four__location">{{event.eLocation}}</td>
    </section>
    <section class="event-five">
      <div class="event-five__people">{{event.minNumber}}</div>
    </section>
    <input data-ng-hide='isJoined(event)' data-ng-click="joinEvent(event)" type="button" class="join" name="join">
    <h1 data-ng-click='joinEvent(event)' data-ng-hide='isJoined(event)' class="join-text">JOIN</h1>
  </article>
  </main>
  <nav class="mobile-bar">
    <ul class="mobile-bar__list">
      <li class="mobile-bar__item"><span data-ng-click="newEvent()" class="icon-pencil" alt="create"></span></li>
      <li class="mobile-bar__item"><span data-ng-click="getEvents()" class="icon-compass" alt="join"></span></li>
      <li class="mobile-bar__item"><span data-ng-click="getActivities()" class="icon-user" alt="activites"></span></li>
      <li class="mobile-bar__item"><span data-ng-click="logout()" class="icon-switch" alt="log out"></span></li>
    </ul>
  </nav>
</div>


