<head>
  <style>
  body {
    background-image: url("../images/golf.jpg");
    background-size: 120%;
  }
  </style>
</head>
<div data-ng-controller="usersController">
  <div>
    <a href="join.html"><img class="logo-main" src="images/logo2.png"></a>
    <h1 class="intro-heading">SPONTANEOUS</h1>
    <p class="intro-description">Connect with others. Fast.</p>
    <form role="form" class="main-form" name="newUserForm" data-ng-show="newUser" ng-submit="userForm.$valid">
      <input data-ng-model="user.email" type="email" placeholder="Email" class="main-form__email border-line" maxlength="30" autofocus required>
      <input data-ng-model="user.userName" type="text" placeholder="Username" class="main-form__username border-line" maxlength="15" required>
      <input data-ng-model="user.password" type="password" placeholder="Password" class="main-form__password border-line" maxlength="15" required>
      <input type="password" data-ng-model="user.passwordConfirmation" class="main-form__password" placeholder="Confirm your password"required>
      <div data-ng-validate-password data-ng-hide="validatePassword()">

      </div>
      <input data-ng-disabled="newUserForm.$invalid" data-ng-click="createNewUser()" class="main-form__submit" type="submit" name="submit-button" value="Start">
    </form>
    <!-- class="main-link" -->
  </div>
  <div>
    <form name="userForm" data-ng-hide="newUser" ng-submit="userForm.$valid" class="main-form">
      <input data-ng-model="user.email" class="main-form__start border-line" type="email" placeholder="Email" maxlength="30" autofocus required >
      <input data-ng-model="user.password" class="main-form__end" type="password" placeholder="Password" maxlength="15" required>
      <input data-ng-disabled="userForm.$invalid" data-ng-click="signin()" class="main-form__submit" type="submit" name="submit-button" value="Start">
    </form>
    <button class="main-link" data-ng-click="newUser = !newUser">{{!newUser ? 'Sign up' : 'Log in'}}</button>
  </div>
</div>
